.indicatedbtn{
 
    width:1.3rem !important; 
    height:1.3rem !important;
    border-radius:100% !important;
}
.carousel-caption{
    top:20%;
    vertical-align: middle;
}
.carousel-inner{
    height:90vh;
}



@media (min-width: 576px) { 

    .carousel-caption{
      
        vertical-align: middle;
    }
    
    

}


@media (min-width: 768px) { 
    .carousel-caption{
       
        vertical-align: middle;
    }
    .carousel-inner{
        height:100vh;
    }
    
    
  
}


@media (min-width: 992px) { 
   
    .carousel-caption{
       
        vertical-align: middle;
    }
    
 
   
}


@media (min-width: 1200px) { 
    .carousel-caption{
     
        vertical-align: middle;
    }
    
 
}

