




  .secondnav{
    background-color: #ffff;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.08);
    padding-left:3%;
    padding-right:3%;
    height:4.5rem;

  }
  .navlogo{
    width: 15rem;
  }

  .navigation{
    color: #EF1C22 !important;
    font-size:0.8rem;
    font-weight: 600;
    height:70px;
    box-shadow: inset 0 0 0 0 #1CB240;
    padding-top:1.5rem;
   
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.navigationx{
  color: #EF1C22 !important;
  font-size:1rem;
  font-weight: bold;
  height:70px;
  padding-top:1.5rem;
 
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


.navigation:hover {
  color: #fff !important;
  box-shadow: inset 0 -200px 0 0 #1CB240;
}

#nav-link.open {
  color: #fff !important;
  box-shadow: inset 0 -200px 0 0 #1CB240;
}

.droplink{
  color: rgb(24, 24, 24) !important;
  padding-left:auto;
  box-shadow: inset 0 0 0 0 #EF1C22;
  height:35px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, padding-left .3s ease-in-out;
  
}


.droplink:hover{
  color:black !important;
  padding-left:2rem;
  box-shadow: inset 4px 0 0 0 #EF1C22;
  
}




.callingnav{
    display:inline;
}
#text{
  display:none;
}
.generallogo{
  margin-top:-0.5rem;
}

.greenbtn{
  margin-bottom:1rem;
}

@media (min-width: 576px) { 

  
    
    

 }


@media (min-width: 768px) { 
  #text{
    display:inline;
  }
  .generallogo{
    margin-top:0rem;
  }
  .secondnav{
    background-color: #ffff;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.08);
    padding-left:3%;
    padding-right:3%;
    height:auto;

  }
  .greenbtn{
    margin-bottom:0rem;
  }
  
    
   
 }


@media (min-width: 992px) { 
    .navigation{
        color: #EF1C22 !important;
        font-size:0.8rem;
    }

    .callingnav{
        display:none;
    }

    .secondnav{
      background-color: #ffff;
      padding-left:3%;
      padding-right:3%;
      height:4.4rem;
  
    }
    
  
    
 }


@media (min-width: 1200px) { 

    .navigation{
        color: #EF1C22 !important;
        font-size:0.8rem;
    }
 }








 
