.welcome{
    background-color: #ffff;
    padding-left:3%;
    padding-right:3%;
    height:auto;
    margin-top:6rem;
}

      
.mylist{
    margin-bottom:7.2rem;
    font-size: 0.91rem;
}



@media (min-width: 576px) { 

}


@media (min-width: 768px) { 
  
    
    
  
}


@media (min-width: 992px) { 
   
  
 
   
}


@media (min-width: 1200px) { 
  
    
 
}

